.nweetEdit .formBtn {
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
}

.nweet {
  background-color: white;
  width: 100%;
  max-width: 20rem;
  padding: 1rem;
  border-radius: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: rgba(0, 0, 0, 0.8);
}

.nweet h4 {
  font-size: 0.9rem;
}

.nweet__image {
  width: fit-content;
  max-width: 80%;
}

.nweet__actions {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.nweet__actions span {
  cursor: pointer;
}

.nweet__actions span:first-child {
  margin-right: 1rem;
}
