.authBtns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 20rem;
}

.authBtn {
  cursor: pointer;
  border-radius: 1.2rem;
  border: none;
  padding: 0.6rem 0;
  font-size: 0.8rem;
  text-align: center;
  width: 10rem;
  background: white;
  cursor: pointer;
}
